* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lavender;
    color: #ABABF3;
}

.Mainbody .mainhead {
  width: 100%;
}
.Main-display{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 20rem;
  background-color: #eaece9;
}
.fa-rotate-right {
  font-weight: 900;
  height: 2.2rem;
  box-shadow: 0px 2px 4px 1px #e5e5e5;
  padding-right: 3px;
  
}
.Main-display::-webkit-scrollbar{
  display: none;
}
.mainhead {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 5rem;
}

.border {
  outline: inset;
  background-color: black;
  width: 100%;
  border-width: 0px;
}

.subheading {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: sans-serif;
  color: #aba;
}

.contents {
  width: 100%;
  margin-top: 5rem;

  display: flex;
  flex-direction: row;
}



.Design {
  display: flex;
  justify-content: center;
  color: #123;
  margin-top: 1rem;
}

.mainProgress {
  width: 340px;
  height: 400px;
  margin-left: 230px;
  
}

.progessText {
  width: 100%;
  height: 2.5rem;
  cursor: pointer;
  background-color: darkgray;
  border: none;
  color: #123;
  font-size: 16px;
  font-weight: 700px;
  padding-left: 10px;
}

.progressDisplay {
  background-color: darkgray;
  margin-top: 2rem;
  border: 2px solid;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: flex-end;
  
}

i {
  font-size: 25px;
  color: black;
  font-weight: 700;
  background-color: darkgray;
  width: 2rem;
  height: 2.2rem;
  padding-left: .3rem;
  padding-top: .3rem;
}
.fa-plus{
  font-size: 32px;
  box-shadow: 0px 2px 4px 1px #e5e5e5;
  background: #a5a5;
}
.fa-trash {
  font-weight: 900;
  height: 28px;
  padding-top: 5px;
}
.fa-eraser{
  font-weight: 900;
    padding-top: 8px;
    height: 32px;
}
.texting {
  display: flex;
  flex-direction: row;
  
}

.type {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text {
  display: flex;
  justify-content: space-between;
  text-align: start;
  color: #123;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.check {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 7px;
  border: inset 1px;
  margin-right: 3px;
}

@media (max-width:1028px) {
  

  i {
    font-size: 20px;
    font-weight: 400;
    width: 2rem;
  }

  .Mainbody .mainhead {
    width: 100%;
  }
  .check {
    width: 1.3rem;
    height: 1.3rem;
  }
  .mainhead {
    font-size: 55px;
  }
  .subheading {
    font-size: 23px;
  }
  .mainProgress {
    width: 340px;
    
    margin-left: 115px;
    
  }
  
}
@media (max-width:767px) {
  
  i {
    font-size: 17px;
    padding-top: 5px;
    width: 1.7rem;
  }
  .fa-trash{
    padding-right: 2px;
    padding-top: 10px;
  }
  .Mainbody .mainhead {
    width: 100%;
  }
  .check {
    width: 1rem;
    height: 1rem;
    margin-top: 12px;
  }
  .fa-eraser{
    font-weight: 900;
    padding-top: 13px;
    height: 27px;
  }
  .mainhead {
    font-size: 40px;
  }
  .subheading {
    font-size: 19px;
  }
  .mainProgress {
    width: 270px;
    
    margin-left: 65px;
    height: 30px;
  }
  
  
}
@media (max-width:480px) {
  
  i {
    font-size: 14px;
    padding-top: 5px;
    width: 1.3rem;
  }
  .fa-trash{
    padding-right: 2px;
    padding-top: 13px;
  }
  .Mainbody .mainhead {
    width: 100%;
  }
  .check {
    width: 1rem;
    height: 1rem;
    margin-top: 12px;
  }
  .fa-eraser{
    font-weight: 900;
    padding-top: 13px;
    height: 27px;
    background: #a5a5;
  }
  .mainhead {
    font-size: 35px;
  }
  .subheading {
    font-size: 19px;
  }
  .mainProgress {
    margin-left: 58px;
    width: 260px;
    height: 320px;
   
  }
  .contents{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 45px;
    width: 395px;
  }
  .progessText{
    background: #e5e5;
  }
  .Main-display {
    height: 14.8rem;
}
}
@media (max-width:440px) {
  .contents{
    margin-left: 35px;
  }
}
@media (max-width:430px) {
  .contents{
    margin-left: 30px;
  }
}
@media (max-width:410px) {
  .contents{
    margin-left: 25px;
  }
}
@media (max-width:400px) {
  .contents{
    margin-left: 7px;
  }
}
@media (max-width:390px) {
  .contents{
    margin-left: 5px;
  }
}
@media (max-width:360px) {
  .contents{
    margin-left: 2px;
  }
}
@media (max-width:300px) {
  .contents{
    margin-left: 0px;
  }
}